body {
	//background: linear-gradient(#7AA3A3, #99CCCC);
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	max-width: 414px;
	background: linear-gradient(#FFFFFF, #99CCCC);
}
.monday {
	width: 95%;
	background-color: #FFF9F2;
	box-shadow: 2px 3px 15px #888888;
	
}
